@import url('https://fonts.googleapis.com/css?family=Baloo|Bangers|Fredericka+the+Great|Lobster+Two:400i&display=swap');

* {
  box-sizing: border-box;
}

html {
  background-image: url('https://i.imgur.com/CNPl1AP.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 height: 100%;
}

body{
  background-color: transparent;
}

.App {
  position: relative;
}

.vsc-initialized {
  all: unset;
}

.logo{
  margin: 10px !important;
  max-height: 5vh;
}

.title{
  font-family: 'Lobster Two', cursive;
  display: inline !important;
  font-weight: bold;
  font-size: 5vh;
  top: 1vh;
}

.recipe-image{
  border-style: solid;
  border-width: thin;
  border-color: #d2d2d2;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.food-done{
  font-family: 'Lobster Two', cursive;
}



.fork-and-knife {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}