
@import url('https://fonts.googleapis.com/css?family=Baloo|Bangers|Fredericka+the+Great|Lobster+Two:400i&display=swap');

html {
 background-image: url('/images/backgrounds/drawnFood.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 height: 100%;
}

body{
  background-color: transparent;
}

body {
  background-color: transparent; 
}

.App{
  position: relative;
}

.welcome-div {
  margin: 50% auto;
  width: 50%;
  border: 3px solid black;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  background-color: #B83329;
  padding: 10px;
  /* height: 800px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-attachment: fixed;
  position: relative; */
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cook-this-main{
  font-family: 'Lobster Two', cursive;
  margin: 0 auto;
  width: 100px;
  background-color: white;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
}

.vsc-initialized {
  all: unset;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.header{
  /* position: fixed; */
  border-radius: 0 !important;
  border-bottom: black solid;
  background-color: #B83329 !important;
  height: 8vh;
  width: 100%;
  /* top: 0;
  left:0; */
}

.logo{
  margin: 10px !important;
  max-height: 5vh;
}

.title{
  font-family: 'Lobster Two', cursive;
  display: inline !important;
  font-weight: bold;
  font-size: 5vh;
  top: 1vh;
}
